.navbar-light .navbar-nav .nav-link{
  color:#f36e21;
    font-size: 24px;
}

.navbar-light .navbar-nav .nav-link:hover{
  color:white;
}

a{
  color: black;
  text-decoration: none!important;
  cursor: pointer;
}

a:hover{
  color: #f36e21
}

.navbar{
  background: #333;
  width: 100%;
  margin: auto;
}

.navbar-light .navbar-brand{
  color: #f36e21;
    font-size: 24px;
}

.navbar-light .navbar-brand:hover{
  color: white;
}

.navbar-light .navbar-toggler{
  background: white;
}

.navbar-brand {
  padding: 0px;
}

.userNameStyle1{
  color: white;
  font-size: 16px;
  cursor: default;
}

.SearchBox{
  margin-top: 10px;
  position: relative;
}

.SearchBox1{
  margin-top: 10px;
  width: max-content;
}

.form-control {
  width: 300px;
  color: #f36e21;
  margin-top: 8px;
  margin-right: 50px;
}

.logME{
  margin-left: 10px
}

.btn-secondary {
  color: #f36e21;
  background-color: #333;
  border-color: #333;
  margin-right: 5px;
  width: 200px;
}

.buttonGRP{
  margin: auto;
  margin-top: 20px;
}

.buttonGRPL{
  width: 50%;
  margin: auto;
}

.bttnGRPSM{
  margin: auto;
  margin-top: 20px;
}
